<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/Shelves.css">
    <title>Bookends | <%= username %>'s Bookshelf</title>
    <link rel="icon" href="/images/logos/bookends-logo-icon.ico" type="image/x-icon">
</head>

<body>
    <div class="nav nav-container">
        <div class="nav-left">
            <a href="/"><img src="/images/logos/bookends-logo-tr.png" class="nav-logo"></a>
            <a href="/">BOOKENDS</a>
        </div>
        <div class="nav-right">
            <a href="/community">COMMUNITY</a>
            <a href="/bookshelf">MY BOOKSHELF</a>
            <a href="/profile">PROFILE</a>
        </div>
    </div>
    <div id="containerDiv" class="container">

        <input type="hidden" id="bookshelfOwner" name="<%= username %>" value="<%= username %>">
        <!-- <h1><%= username %></h1> -->
        <!-- <h2><%= data %></h2> -->

        <div class="bookshelf-section flex-row-between">
            <h1 id="usernameTitle"></h1>
            <div class="flex-column-centre">
                <h3 id="followingCount"></h3>
                <h3 id="followersCount"></h3>
            </div>
        </div>

        <h2 id="privacyNotice"></h2>

        <div id="shelves" class="bookshelf-section">
            <h3 id="shelvesCount"></h3>
            <div id="shelvesDisplay">
                <!-- dynamic content generated here -->
            </div>
        </div>

    </div>
    <div id="noUserContainerDiv" class="container">
        <h1 class="extra-spacing">
            <%= username %>
        </h1>
        <h2 class="extra-spacing">This user does not exist.</h2>
        <p class="centre-text extra-spacing">Check that the username is correct or register an account <a
                href="/loginPage">here</a>.</p>
    </div>
    <script src="/scripts/bookshelf.js"></script>
    <script src="/scripts/otherBookshelf.js"></script>
</body>

</html>